* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/21/d9/00/21d900f93c3816c18827283495a7c6f7.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    padding-top: 120px; 
}


.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}


.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.nav-link {
    font-size: 20px;
    transition: .3s;
}

.nav-link:hover {
    opacity: 0.7;
}

.hero-text {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    margin-top: -40px; 
}

.hero-text h1 {
    font-size: 52px;
    font-weight: 900;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.9);
}

.hero-text h3 {
    margin-top: 10px;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: bold;
}

.footer-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 15px 0;
    font-size: 15px;
}
.contact-section {
    background: #111;
    color: white;
}

.contact-section h2 {
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-form .form-control {
    border-radius: 8px;
}

.contact-form .btn {
    border-radius: 8px;
    transition: 0.3s;
}

.contact-form .btn:hover {
    opacity: 0.8;
}
.sobre-section {
    background: rgba(40, 40, 40, 0.65); 
    color: white;
}

.sobre-section h2 {
    font-weight: bold;
    letter-spacing: 1px;
}

.sobre-text {
    max-width: 750px;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.blocos-roxos {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.container-blocos {
  display: flex;
  gap: 20px;
  width: 90%;
  max-width: 900px;
  justify-content: center;
}

.bloco-item {
  flex: 1;
  background-color: #5a3f7e; 
  color: #050505;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}

.bloco-item:hover {
  background-color: #7d52b4; 
  transform: translateY(-5px);
}

@media (max-width: 700px) {
  .container-blocos {
    flex-direction: column;
  }
}
